<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Blog</title>   
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container mt-4">
        
        <h1><%= blog.title %></h1>
        <img  src="<%= blog.coverImageUrl %>"   class="img-fluid w-75" alt="Responsive image" />
        <pre class="mt-3" style="box-sizing: border-box; width:vw; overflow: auto;white-space: pre-wrap;"><%= blog.body %></pre>
               
    </div>
    <div class="container mt-3">
        <form >
            <div class="form-group">
                <span>created by:</span>
               <img src="<%= blog.createdBy.profileImageUrl %>" width="50px"/>
                     <%= blog.createdBy.fullName %>
            </div>
        </form>
    </div>
    <% if (locals.user) { %>

        <div class="container mt-4">
            <form action="/blog/comment/<%= blog._id %>" method="post">
                
    
                <div class="form-group mb-3">
                    
                    <input type="text" class="form-control" id="content" name="content" placeholder="write your comments"  required > 
                    <button type="submit" onclick=clearContentField() class="btn btn-primary mt-2">Add</button>             
                </div>
           </form>          
        </div>
    <% } %>
    <div class="container mt-4 ">
        <h1>Comments (<%= comments.length %>)</h1>
            <% comments.forEach(comment => { %>
                <img src="<%= comment.createdBy.profileImageUrl %>" width="50px"/>
                <%= comment.createdBy.fullName %>:
                <pre><%= comment.content %> </pre>
               <% }) %>  
    </div>
<% function clearContentField() { %>
  <% document.getElementById("content").value = ""; %>
<% } %>

    <%- include("./partials/script.ejs") %>
</body>
</html>